.pokemonCard{
    /* background-color: aqua; */
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    position: relative;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 10px;
    background-color: #f8f7f7;  
    /* border: 1px solid red; */
    /* box-shadow: 10px 10px 30px #d4d4d4; */
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3),0px 10px 15px -3px rgba(0,0,0,0.1);
    
}


.pokemonInfo p {
    font-size: 20px;
    font-weight: 600;
    color: #66625c;
    text-transform: capitalize;
    font-family: 'Rubik';
    color: #a39f99;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 1px;
}


.statBar{
    height: 10px;
    width: 100px;
    background-color: #e9e8e7;
    border-radius: 5px;
    /* animation: progressBar 2s ease-in-out; */
    /* transition: all .3s ease-in; */
    /* transform-origin: left; */
}

.statBarFill{
    height: 10px;
    border-radius: 5px;
    /* background-color: rgb(0, 136, 255); */
    animation: progressBar 1s ease-in-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: transparent;
    letter-spacing: 1px;
    /* max-width: 20px; */
    /* transition: all .3s ease-in; */
    /* transform-origin: left; */
}

.statBarV{
    width: 0;
}

.statBarFill p{
    font-size: 10px;
}


@keyframes progressBar {
    from{
        width: 0px;
    }
    to{
        width: 100%;
        /* color: white; */
    }
}

.statPoints{
    font-weight: 200;
    margin: 0px 10px 0px 10px;
    /* color: white; */

    /* margin-bottom: 15px; */
}

.statRow td strong {
    text-align: right;
}





.pokemonInfo{
    /* height: 80%; */
    padding: 10px 50px 15px 50px;
    box-shadow: 10px 10px 30px #e9e8e7;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: all .4s ease-in;
    
}

.pokemonInfo img{
    /* width: 30%; */
    /* transition: all .5s ease; */
    /* z-index: -1; */
}

.pokemonInfo p{
    font-size: 20px;
    font-weight: 600;
    color: #66625c;
}

.pokemonInfo > .idPokedex{
    margin: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 500;
    font-family: 'Rubik';
    letter-spacing: 10px;
    opacity: 0;
    /* z-index: -1; */
    /* right: 0px;
    top: 0px; */
    /* border-radius: 50px; */
    /* background-color: rgb(255, 0, 255); */
}


.pokemonType{
    display: flex;
    gap: 5px;
}
.pokemonType span{
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    font-family: 'Rubik';
    text-transform: capitalize;
    color: rgb(236, 236, 236);
    font-size: 14px;
}

.pokemonStats table tbody tr,td{
    /* position: relative; */
    /* display: block; */
    font-family: 'Rubik';
    padding: 5px 0 5px 0;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 12px;
    color: rgb(146, 146, 146);
    /* margin-bottom: 15px; */
}



.pokemonStats table tbody tr td .statPoints{
    font-weight: 200;
    margin: 0px 10px 0px 10px;
    /* color: white; */

    /* margin-bottom: 15px; */
}